.global-margin {
    margin-left: 200px;  
    margin-right: 200px; 
  }

  @media (max-width: 640px) {
    .w-full.sm\:w-auto.mb-10 {
      width: 100%;
      margin-bottom: 20px;
    }

    .w-full.sm\:w-auto.mb-10 h3 {
      margin-top: 20px;
    }
  }