<footer class="bg-gray-100 border-t border-gray-300 py-10 text-gray-600">
<div class="global-margin">
  <div class="max-w-screen-xl mx-auto px-6 mx-4"> 
    <div class="flex flex-wrap justify-between mb-10">
      <div class="w-full sm:w-auto mb-10">
        <h3 class="font-semibold text-black mb-2 text-xs">Shop and Learn</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/store" class="hover:underline">Store</a></li>
          <li><a href="https://www.apple.com/my/mac/" class="hover:underline">Mac</a></li>
          <li><a href="https://www.apple.com/my/ipad/" class="hover:underline">iPad</a></li>
          <li><a href="https://www.apple.com/my/iphone/" class="hover:underline">iPhone</a></li>
          <li><a href="https://www.apple.com/my/watch/" class="hover:underline">Watch</a></li>
          <li><a href="https://www.apple.com/my/airpods/" class="hover:underline">AirPods</a></li>
          <li><a href="https://www.apple.com/my/tv-home/" class="hover:underline">TV & Home</a></li>
          <li><a href="https://www.apple.com/my/airtag/" class="hover:underline">AirTag</a></li>
          <li><a href="https://www.apple.com/my/shop/accessories/all" class="hover:underline">Accessories</a></li>
          <li><a href="https://www.apple.com/my/shop/gift-cards" class="hover:underline">Gift Cards</a></li>
        </ul>
        <br/>
        <h3 class="font-semibold text-black mb-2 text-xs">Apple Wallet</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/wallet/" class="hover:underline">Wallet</a></li>
          <li><a href="https://www.apple.com/my/apple-pay/" class="hover:underline">Apple Pay</a></li>
        </ul>
      </div>
      <div class="w-full sm:w-auto mb-10">
        <h3 class="font-semibold text-black mb-2 text-xs">Account</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://appleid.apple.com/" class="hover:underline">Manage Your Apple ID</a></li>
          <li><a href="https://secure8.store.apple.com/my/shop/signIn/" class="hover:underline">Apple Store Account</a></li>
          <li><a href="https://www.icloud.com/" class="hover:underline">iCloud.com</a></li>
        </ul>
        <br/>
        <h3 class="font-semibold text-black mb-2 text-xs">Entertainment</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/apple-one/" class="hover:underline">Apple One</a></li>
          <li><a href="https://www.apple.com/my/apple-tv-plus/" class="hover:underline">Apple TV+</a></li>
          <li><a href="https://www.apple.com/my/apple-music/" class="hover:underline">Apple Music</a></li>
          <li><a href="https://www.apple.com/my/apple-arcade/" class="hover:underline">Apple Arcade</a></li>
          <li><a href="https://www.apple.com/my/apple-fitness-plus/" class="hover:underline">Apple Fitness+</a></li>
          <li><a href="https://www.apple.com/my/apple-podcasts/" class="hover:underline">Apple Podcasts</a></li>
          <li><a href="https://www.apple.com/my/apple-books/" class="hover:underline">Apple Books</a></li>
          <li><a href="https://www.apple.com/my/app-store/" class="hover:underline">App Store</a></li>
        </ul>
      </div>
      <div class="w-full sm:w-auto mb-10">
        <h3 class="font-semibold text-black mb-2 text-xs">Apple Store</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/retail/" class="hover:underline">Find a Store</a></li>
          <li><a href="https://www.apple.com/my/today/" class="hover:underline">Today at Apple</a></li>
          <li><a href="https://apps.apple.com/us/app/apple-store/id375380948" class="hover:underline">Apple Store App</a></li>
          <li><a href="https://www.apple.com/my/shop/browse/financing" class="hover:underline">Financing</a></li>
          <li><a href="https://www.apple.com/my/shop/trade-in" class="hover:underline">Apple Trade In</a></li>
          <li><a href="https://secure.store.apple.com/my/shop/order/list" class="hover:underline">Order Status</a></li>
          <li><a href="https://www.apple.com/my/shop/help" class="hover:underline">Shopping Help</a></li>
        </ul>
      </div>
      <div class="w-full sm:w-auto mb-10">
        <h3 class="font-semibold text-black mb-2 text-xs">For Business</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/business/" class="hover:underline">Apple and Business</a></li>
          <li><a href="https://www.apple.com/my/retail/business/" class="hover:underline">Shop for Business</a></li>
        </ul>
        <br/>
        <h3 class="font-semibold text-black mb-2 text-xs">For Education</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/education/" class="hover:underline">Apple and Education</a></li>
          <li><a href="https://www.apple.com/my-edu/store" class="hover:underline">Shop for University</a></li>
        </ul>
        <br/>
        <h3 class="font-semibold text-black mb-2 text-xs">For Healthcare</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/accessibility/" class="hover:underline">Apple in Healthcare</a></li>
          <li><a href="https://www.apple.com/my/healthcare/" class="hover:underline">Health on Apple Watch</a></li>
        </ul>
      </div>
      <div class="w-full sm:w-auto mb-10">
        <h3 class="font-semibold text-black mb-2 text-xs">Apple Values</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/healthcare/apple-watch/" class="hover:underline">Accessibility</a></li>
          <li><a href="https://www.apple.com/my/accessibility/" class="hover:underline">Education</a></li>
          <li><a href="https://www.apple.com/my/education-initiative/" class="hover:underline">Environment</a></li>
          <li><a href="https://www.apple.com/my/environment/" class="hover:underline">Privacy</a></li>
          <li><a href="https://www.apple.com/my/supply-chain/" class="hover:underline">Supplier Responsibility</a></li>
        </ul>
        <br/>
        <h3 class="font-semibold text-black mb-2 text-xs">About Apple</h3>
        <ul class="space-y-2 text-xs">
          <li><a href="https://www.apple.com/my/newsroom/" class="hover:underline">Newsroom</a></li>
          <li><a href="https://www.apple.com/my/leadership/" class="hover:underline">Apple Leadership</a></li>
          <li><a href="https://www.apple.com/careers/my/" class="hover:underline">Career Opportunities</a></li>
          <li><a href="https://investor.apple.com/investor-relations/default.aspx" class="hover:underline">Investors</a></li>
          <li><a href="https://www.apple.com/compliance/" class="hover:underline">Ethics & Compliance</a></li>
          <li><a href="https://www.apple.com/my/apple-events/" class="hover:underline">Events</a></li>
          <li><a href="https://www.apple.com/my/contact/" class="hover:underline">Contact Apple</a></li>
        </ul>
      </div>
      <p class="text-xs text-gray-600">More ways to shop: <a href="https://locate.apple.com/my/en/" class="text-blue-500 hover:underline">Find a retailer</a> near you. Or call 1800-80-6419.</p>
    </div>
    <div class="border-t border-gray-300 pt-5 text-center text-xs">
      <div class="flex flex-wrap justify-between items-center">
        <p class="mb-2 sm:mb-0">Copyright © 2024 Apple Inc. All rights reserved.</p>
        <ul class="flex gap-4 text-xs">
          <li><a href="#" class="hover:underline">Privacy Policy</a></li>
          <li><a href="#" class="hover:underline">Terms of Use</a></li>
          <li><a href="#" class="hover:underline">Sales and Refunds</a></li>
          <li><a href="#" class="hover:underline">Legal</a></li>
          <li><a href="#" class="hover:underline">Site Map</a></li>
        </ul>
        <p class="mb-2 sm:mb-0">Malaysia</p>
      </div>
    </div>
  </div>
</div>
</footer>