.global-margin {
    margin-left: 200px;  
    margin-right: 200px; 
  }

  .price-margin {
    margin-left: 150px;  
    margin-right: 150px; 
  }

  .small-symbols {
    font-size: 0.6em;
    vertical-align: text-top;
  }

body {
    padding-bottom: 80px; 
}

  @media (max-width: 768px) {
    body {
      padding-top: 80px; 
      padding-bottom: 0;
    }
  }
  .full-width-image {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  .additional-info p {
    font-size: 12px;
    color: grey; 
  }
